#downloads 
	padding 1% 0
	.container
		.downloads-selections-title
			.text-subtitle
				margin 5px 0
				font-size 16px
				line-height 25px
				span 
					background-color alpha($green2,75%)
					margin 5px 0
					color white 
					border-radius 3px
					padding 2px 5px
		.downloads-square
			.downloads-row				
				.post-field
					a
						display block
						height 100%
						float left 
						width 100%
						color #6e6e6e
						transition all 250ms ease-in-out
						.post-content
							height 170px
							width 100%
							float left 
							position relative
							border solid 2px $green2
							.post-icon
								width 33.333%
								border-right solid 1px
								height 100%
								float left
								span 
									font-size 80px
									line-height 150px
									transition all 250ms ease-in-out
									@media(max-width 768px)
										color $green2
							.post-title
								width 66.666%
								border-top none
								border-bottom 2px solid #6e6e6e
								float left
								padding 0px 5px
								height 50px
								line-height 20px
								&:after
									display none
								&:before
									display none
								h6
									border none
									font-size 18px
									@media(max-width 768px)
										color $green2
							.post-description
								width 66.666%
								padding 0px 5px 
								float left
								line-height 1 !important 
								height 80px
								i
									font-size 12px
							.post-size 
								width 33.33333%
								float left 
								height 20%
								padding-left 5px
								font-size 15px
							.post-button
								width 0%
								float left 
								height 25px
								opacity 0
								line-height 25px
								background-color #6e6e6e
								color white 
								position absolute
								right 0
								bottom 0
								text-align center
								transition all 250ms ease-in-out
								.button-text
									font-family $font1
								@media(max-width 768px)
									width 33.33333%
									background-color $green2
									opacity 1
									height 25px
					&:hover
						.post-icon
							span
								color $green2	
						.post-button
							width 33.3333% !important
							opacity 1 !important
							background-color $green2 !important
							height 25px !important
							line-height 25px
							

								
								
								
								
									

				
