.services
  size 100
  no-padding()
  position relative
  display block
  .services-menu
    position absolute
    top 15px
    left 0
    size 100
    z-index 899
    .services-menu-content
      size 100
      height 60px
      background-color #f5f5f5
      border solid 1px #ababab
      border-radius 40px
      .menu-button
        height 100%
        cursor pointer
        size 25
        line-height 60px
        border-radius 40px
        transition all 250ms ease-in-out
        &:not(.actived)
          border none
          opacity .65
          background-color transparent
          &:hover
            opacity 1
        span
          font-family $font1
          font-size 17px
        i
          font-size  22px
          @media(max-width: 768px)
            font-size 30px
            line-height 60px
  .service-item
    size 100
    padding-top 80px
    position absolute
    background-color white
    display table
    .service-item-title
      size 100
      padding 15px
    .each-service
      padding 15px
      transition all 250ms ease-in-out
      @media(max-width: 768px)
        padding 15px 0
      .service-post
        background-color #fafafa
        padding 10px
