.services
  size 100
  no-padding()
  position relative
  display block
  .services-menu
    position absolute
    top 15px
    left 0
    size 100
    z-index 899
    .services-menu-content
      size 100
      height 60px
      background-color #f5f5f5
      border solid 1px #ababab
      border-radius 40px
      .menu-button
        height 100%
        cursor pointer
        size 25
        line-height 60px
        border-radius 40px
        transition all 250ms ease-in-out
        &:not(.actived)
          border none
          opacity .65
          background-color transparent
          &:hover
            opacity 1
        span
          font-family $font1
          font-size 17px
        i
          font-size  22px
          @media(max-width: 768px)
            font-size 30px
            line-height 60px
  .service-item
    size 100
    padding-top 80px
    position absolute
    background-color white
    display table
    cursor pointer
    transition all 250ms ease-in-out
    .row
      transition all 250ms ease-in-out
      .service-post-content
        display block
        padding 10px 60px
        transition all 250ms ease-in-out
        @media(max-width: 768px)
          padding 10px
        .dropdown
          border-radius 5px
          display block
          transition all 250ms ease-in-out
          .service-post-head
            position relative
            transition all 250ms ease-in-out
            border-radius 5px
            &:not(.dd-blue)
              background $green2
              box-shadow 0px 0px 5px $green2
            &:not(.dd-green)
              background $blue2
              box-shadow 0px 0px 5px $blue2
            .service-post-icon
              i
                position absolute
                top 60%
                left 15px
                font-size 25px
            .indicator
              transition all 250ms ease-in-out
              .indicator-content
                width 15px
                height 15px
                background-color transparent
                border-bottom solid 5px white
                border-right solid 5px alpha(white, 50%)
                transform rotate(45deg)
                position absolute
                top 120%
                right 15px
                transition all 250ms ease-in-out
          .service-post-body
            padding 10px
            height 100%
            border-top none !important
            margin-top -5px
            border-bottom-left-radius 5px
            border-bottom-right-radius 5px
            transition all 250ms ease-in-out
      .dropdown:not(.actived)
        .service-post-head
          .indicator
            .indicator-content
              transform rotate(225deg)
              transition all 250ms ease-in-out
        .service-post-body
          height 0px
          transition all 250ms ease-in-out
          opacity 0
